/*********************************/
/*****   Bootstrap Styling   *****/

.navbar-inverse {
  background-color: white;
  color: black;
}

ul.nav.navbar-nav a { 
  color: black;  
   margin: 0 20px;
}

ul.nav.navbar-nav a:hover {
  background: lightgray;
  color: black;  
}

div.navbar-header a.navbar-brand:hover{
  color: red;  
}

.navbar-toggle {
  background-color: black;
  color: white;
}

.carousel-caption {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.carousel-caption p {
  font-size: 12px;
  padding: 0 20px;
}

/*****   end Bootstrap Styling   *****/
/*************************************/

body {
  padding: 0;
  margin: 0;
  padding-top: 70px; 
   /*font-family: 'Hind', sans-serif;*/
   /*font-family: 'Quicksand', sans-serif;*/
}

h2 {
  margin: 20px 0 30px 0;
  font-weight: bold;
}

h3 {
  color: red;
  text-shadow: 10px 10px 15px #888888;
}

h5 {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

#wrapper {
  margin: 0 auto; 
}

#bg1 {   
  height: 800px;  
  background: url('../images/hh.jpg') center;
  background-size: cover;
}

#bg2 { 
  height: 800px;  
  background: url('../images/nyc.jpg') center;
  background-size: cover;
}

#bg1-circle {
  background-color: black;
  color: white;
}

#bg2-circle {
  background-color: white;
  color: black;
}

.circle {  
  width: 300px;
  height: 300px;
  border-radius: 100%;  
  margin: -100px auto 0;
}

 p.circle-text {
  width: 200px;
  display: inline-block; 
  text-align: center;
  margin: 90px 0 0 50px;
  font-size: 26px;  
}

p.circle-small-text {
  width: 100px;
  display: inline-block;
  text-align: center;
  margin: 60px 0 0 25px;  
  color: white;
  font-size: 20px;
}

.circle-small {  
  width: 150px;
  height: 150px;
  border-radius: 100%; 
  background-color: rgba(255,0,0,0.8);
  display: inline-block; 
}

#circle1 {
  float: left;
  margin-top: -15%;
  margin-left: 21%;
}

#circle2 {
  float: right;
  margin-top: -15%;
  margin-right: 21%;
}

#circle3 {
  float: left;
  margin-top: 3%;
  margin-left: 30%;
}

#circle4 {  
  float: right;
  margin-top: 3%;
  margin-right: 30%;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 10px;
}

p.handwrite {
  font-family: 'Calligraffitti', cursive;
  font-size: 30px !important;
  margin-top: 30px;
}

.text-big {
  font-size: 30px;
  font-weight: bold;    
}

.text-medium {
  font-size: 24px;
}

.text-small {
  font-size: 16px;  
}

.text-xsmall {
  font-size: 14px;
}

.information-block {
 /* background: url("../images/halftone.png");*/
  background-color: rgba(245, 241, 222, 0.5);
  margin: 80px 0;
  padding: 40px;
  font-family: 'Hind', sans-serif;
}

.information-block p {  
  color: black;
  font-size: 16px;
}

/********************************/
/*****   Projects Styling   *****/

#projects-block { 
  background-color: black;
}

#projects-block h2 {
  color: white;
}

.carousel-inner {
  width: 75%;
  margin: 0 auto;  
}

/*****   end Projects Styling   *****/
/************************************/

/******************************/
/*****   Resume Styling   *****/

#resume-download img {
  width: 64px;
}

#resume-block {
  background: url("../images/ravenna.png");  
}

#resume-left {
  float: left; 
  width: 50%;
  min-width: 300px;
  margin-right: 20px; 
}

#resume-right {
  float: right; 
  width: 45%; 
  min-width: 300px;  
}

article {
  margin: 30px 0;
  padding: 30px 10px 30px 10px;
  /*background: url("../images/paper.png");*/
  background-color: rgba(245, 241, 222, 0.5);
  box-shadow: 10px 10px 15px #888888; 
}

article p {
  padding-bottom: 10px;
}

article span {
  background: rgba(255,0,0,0.2);
  padding: 10px; 
  border-radius: 100%; 
}

p.resume-date { 
  margin: 0;
  padding: 0;
  font-size: 14px !important;  
}

p.resume-company { 
  font-weight: bold;  
}

p.resume-title {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

p.resume-tasks {
  padding: 10px;  
}

p.resume-title-skills {
  font-size: 20px;
  font-weight: bold;
}

div.webdevcol {
  width: 150px;
  float: left;
  font-size: 16px;
}

div.addskillscol {
  width: 220px;
  float: left;
  font-size: 16px;
}

div.languages,
div.certificates
 {
  font-size: 16px;
}

img.media-object {
  width: 160px;  
  margin: 0 20px 20px 20px;
}

/*****   end Resume Styling   *****/
/**********************************/

#contact-block {
  background: #f5f1de; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5f1de 0%, #ffffff 91%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f1de), color-stop(91%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f5f1de 0%,#ffffff 91%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f5f1de 0%,#ffffff 91%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f5f1de 0%,#ffffff 91%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f5f1de 0%,#ffffff 91%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f1de', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#coffeepic {
  float: right;
  width: 300px;
}

#headshot {
  float: left;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  /*box-shadow: 10px 10px 15px #888888; */
}
table.contact {
  margin-left: 10px;
}

table.contact td {
  width: 100px;
  line-height: 30px;
  font-size: 16px;
}

.footer {
  margin: 50px 40px;
}


@media (max-width: 767px) {
  
  #circle1 {     
    margin-left: 30%;
  }

  #circle2, #circle4 { 
    clear: both;
    float: left;
    margin-left: 30%;    
  }

  #circle2, #circle3, #circle4 {
    margin-top: 3%;
  }

  #resume-right {
    float: left;
  }

  p.resume-tasks {
    clear: both !important;  
  }

  img.media-object {
    width: 260px;
    margin: 20px;  
  }

}

@media (max-width: 900px) {

  #coffeepic {
    display: none;
  }
}


